li {
    list-style-type: none;
}

ul {
    margin-left: 0; /* Отступ слева в браузере IE и Opera */
    padding-left: 0; /* Отступ слева в браузере Firefox, Safari, Chrome */
}

.lesson__block {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
}

.lesson__gray {
    color: gray;
}